//fonts
$ttr: 100% 'TTFirs-Regular', Arial, Tahoma, sans-serif;
$ttm: 100% 'TTFirs-Medium', Arial, Tahoma, sans-serif;
$ttb: 100% 'TTFirs-Bold', Arial, Tahoma, sans-serif;
$tteb: 100% 'TTFirs-ExtraBold', Arial, Tahoma, sans-serif;
$sb: 100% 'Secessionbyme', Arial, Tahoma, sans-serif;

//colors
$white: #fff;

$black: #333;
$black-1: #818080;

$yellow: #fed700;

$h_yellow: #eec400;
$h_black: #000000;
$silver: #b3b3b3;
$blue: #1bb2f9;

$gray-1: #dadada;
$gray-2: #f7f7f7;

$red: #ff0000;
$green: #28cc39

