.sidebar{
  .button--theme{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon{
    margin-left: 0;
  }
}
